<h1>Upcoming jobs</h1>
<div class="">

<!-- this uses a array of jobs with a local instance of .strftime working  -->
<%=@jobsArr[1].job_start.strftime('%c') %>
<p><%= l Time.now, format: :short %></p>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Start</th>
      <th>End</th>
      <th>Street</th>
      <th>City</th>
      <th>Job created</th>
    </tr>
    <tbody>
      <% @jobs.each do |j| %>
          <tr>
            <td><%=j.id %></td>
            <td><%=j.job_start.strftime('%a %b %e' +' 20''%y')%></td>
            <td><%= j.job_end.strftime('%a %b %e' +' 20''%y')%></td>
            <td><%=j.location_street %></td>
            <td><%=j.location_city%></td>
            <td><%= time_ago_in_words(j.created_at)+ " ago"%></td>
          <% end %>
          </tr>
    </tbody>
</table>

</div>
