<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>



<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Start</th>
      <th>End</th>
      <th>Street</th>
      <th>City</th>
      <th>Added</th>
    </tr>
    <tbody>
      <% @jobs.each do |j| %>
          <tr>
            <td><%=j.id %></td>
            <td><%=j.job_start %></td>
            <td><%=j.job_end %></td>
            <td><%=j.location_street %></td>
            <td><%=j.location_city%></td>
            <td><%=j.created_at%></td>
          <% end %>
          </tr>
    </tbody>
</table>
</div>
