<h1>Upcoming jobs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Start</th>
      <th>End</th>
      <th>Street</th>
      <th>City</th>
      <th>Added</th>
    </tr>
    <tbody>
      <% @jobs.each do |j| %>
          <tr>
            <td><%=j.id %></td>
            <td><%=j.job_start%></td>
            <td><%=j.job_end %></td>
            <td><%=j.location_street %></td>
            <td><%=j.location_city%></td>
            <td><%= time_ago_in_words(j.created_at)+ " ago"%></td>
          <% end %>
          </tr>
    </tbody>
</table>
</div>
