<h1>Create new job & staff up.</h1>

  <%= form_for @job do |f| %>
    <% if @job.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid.</h2>
        <ul>
          <% for message in @job.errors.full_messages %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="form-group">
      <%= f.label :job_start %>
      <%= f.text_field :job_start, class:"form-control", :value => "11/1/2016" %>

      <%= f.label :job_end %>
      <%= f.text_field :job_end, class:"form-control", :value => "11/3/2016" %>

      <%= f.label :location_street %>
      <%= f.text_field :location_street, class:"form-control", :value => "400 North Street" %>

      <%= f.label :location_city %>
      <%= f.text_field :location_city, class:"form-control", :value => "Brea" %>

      <%= f.label :location_zip %>
      <%= f.text_field :location_zip, class:"form-control", :value => "94023" %>

      <%= f.label :state %>
      <%= f.text_field :state, class:"form-control", :value => "CA" %>
      <div class="actions"><%= f.submit %></div>
    </div>
    <% end %>
